In [1]:
print("Hello, World!")

Hello, World!

Python Indentation

In [16]:
if 9 > 3:
  print("nine is greater than three!")

nine is greater than three!

In [18]:
if 9 > 3:
print("nine is greater than three!")

IndentationError: expected an indented block after 'if' statement on line 1 (1363919798.py, line 2)

In [20]:
if 9 > 3:
      print("nine is greater than three!")

nine is greater than three!

In [22]:
if 9 > 3:
  print("nine is greater than three!")
      print("nine is greater than three!")

IndentationError: unexpected indent (3600359438.py, line 3)

 Variables

In [25]:
x = 8
y = "Hello, World!"

In [39]:
x = 8
y = "ok"
print(x)
print(y)

8
ok

In [41]:
x = 8
x = "ok"
print(x)

ok

In [43]:
x = str(8)
y = int(8)   
z = float(8)
print(x)
print(y)
print(z)

8
8
8.0

In [45]:
x = 8
y = "ok"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [47]:
x = "ok"
x = 'ok'
print(x)

ok

In [55]:
a = 8
A = "ok"
print(a)
print(A)

8
ok

In [ ]:
#Legal variable names:
myvar = "abc"
my_var = "abc"
_my_var = "abc"
myVar = "abc"
MYVAR = "abc"
myvar2 = "abc"

#Illegal variable names:
2myvar = "abc"
my-var = "abc"
my var = "abc"

In [ ]:
myVar = 8 #Camel Case
MyVar = 8 #Pascal Case
my_var = 8 #Snake Case

In [57]:
x, y, z = "apple", "banana", "cherry"
print(x)
print(y)
print(z)

apple
banana
cherry

In [59]:
x = y = z = "cherry"
print(x)
print(y)
print(z)

cherry
cherry
cherry

In [61]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [63]:
x = "hello"
y = "world"
print(x, y)

hello world

In [65]:
x = "hello"
y = "world"
print(x + y)

helloworld

In [69]:
x = 6
y = 9
print(x + y)

15

In [71]:
x = 6
y = 'ok'
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
x = 6
y = 'ok'
print(x, y)

6 ok

In [73]:
x = "world"

def myfunc():
  print("hello" + x)

myfunc()

helloworld

In [75]:
x = "world"

def myfunc():
    x = "friends"
    print("hello" + x)

myfunc()

print("hello" + x)

hellofriends
helloworld

In [77]:
def myfunc():
  global x
  x = "world"

myfunc()

print("hello " + x)

hello world

In [79]:
x = "friends"

def myfunc():
  global x
  x = "world"

myfunc()

print("hello " + x)

hello world

Comments

In [30]:
#abc

In [32]:
#print("Hello, World!")
print("Hello, World!")

Hello, World!

In [36]:
"""this is a comment
written in
more than just one line"""
print("Hello, World!")

Hello, World!

Python Data Types

In [82]:
x = 8
print(type(x))

<class 'int'>

In [ ]:
x = "Hello World"	#str	
x = 6	#int	
x = 6.8	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set	
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
x = True	#bool	
x = b"Hello"	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview	
x = None	#NoneType

Random Numbers

In [85]:
import random

print(random.randrange(1, 10))

1

Casting

In [88]:
x = int(1)   
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [90]:
x = float(1)    
y = float(2.8)   
z = float("3") 
print(x)
print(y)
print(z)

1.0
2.8
3.0

In [99]:
x = str("s1")
y = str(2)   
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

Python Strings

In [95]:
print("it's alright")
print("he is called 'Johnny'")
print('he is called "Johnny"')

it's alright
he is called 'Johnny'
he is called "Johnny"

In [97]:
a = """akisjinskaomksnkianolnsjujnaknslojps"""
print(a)

akisjinskaomksnkianolnsjujnaknslojps

In [101]:
a = '''akisjinskaomksnkianolnsjujnaknslojps'''
print(a)

akisjinskaomksnkianolnsjujnaknslojps

In [103]:
a = "Hello World!"
print(a[1])

e

In [107]:
for x in "Hello":
  print(x)

H
e
l
l
o

In [109]:
a = "Hello World!"
print(len(a))

12

In [111]:
txt = "Hello World!"
print("World" in txt)

True

In [115]:
txt = "Hello World!"
if "World" in txt:
    print('yes')

yes

In [117]:
txt = "Hello World!"
print("," not in txt)

True

In [123]:
txt = "Hello World!"
if "," not in txt:
    print('no')

no

In [125]:
b = "Hello World!"
print(b[2:5])

llo

In [127]:
b = "Hello World!"
print(b[:5])

Hello

In [129]:
b = "Hello World!"
print(b[2:])

llo World!

In [131]:
b = "Hello World!"
print(b[-5:-2])

orl

In [133]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [135]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [137]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [139]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [141]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [143]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [145]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [149]:
age = 18
txt = f"my name is aiganym, i am {age}"
print(txt)

my name is aiganym, i am 18

In [157]:
age = 18
txt = f"my name is aiganym, i am {age:.2f}"
print(txt)

my name is aiganym, i am 18.00

In [159]:
txt = f"the price is {69 * 10} dollars"
print(txt)

the price is 690 dollars

In [161]:
txt = "he is called "Johnny"."
print(txt)

SyntaxError: invalid syntax (1484953111.py, line 1)

In [163]:
txt = "he is called \"Johnny\"."
print(txt)

he is called "Johnny".